/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

body {
    background: linear-gradient(110deg, #fabb00 60%, #ffed4b 60%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-top: .5rem .5rem .5rem .5rem;
    
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-top: 3rem;
}

.grid-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    border-radius: 8px;
}

.grid-item h3 {
    margin: 1rem 0 0.5rem;
    color: #333;
}

.grid-item p {
    color: #555;
    line-height: 1.6;
}

.button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
